.intro {
font-style: italic;
font-weight: bold;
color: firebrick;
}
.author {
    colour: red;
    font-style: oblique;
    font-size: xx-large;
}
p.author {
    font-size: 12px;
}
body {
    background-color: aqua;
    backface-visibility: visible;
    
}
#line1{
    font-size: inherit;
    font-style: initial;
    color: lawngreen;
    font-weight: bold;
    font-size: x-large;
}
img {
    float: left;

}
.column {
    width: 350px;
    float: right;
}